html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/*typography*/

h1, h2, h3{
    text-align: center;
}

h1, h2{
    color: #e5eed3;
    margin: 0;
}

h1{
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

h3{
    margin: 25px;
}

/* layout */

header{
    background-color: #38573a;
}

.header-inner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 370px;
    gap: 15px;
    padding: 10px 0 ;
}

.mango-img{
    width: 100px;
}

.controls-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
}

/* controls */

.emotion-radios{
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.radio{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bcbcbc;
    padding: 4px 8px;
}

.radio:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radio:last-child{
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label{
    font-size: 14px;
    padding: 3px;
    width: 100%;
    cursor: pointer;
    text-transform: lowercase;
}

.emotion-radios label:hover{
    font-weight: bold;
    color: #38573a;
}

label::first-letter{
    text-transform: uppercase;
}

.highlight{
    background-color: #7abd7e63;
    color: #38573a;
    font-weight: bold;
    accent-color: #d67709;
}

input[type="radio"]{
    cursor: pointer;
}

.gifs-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.gifs-check-label{
    width: unset;
    margin-right: 5px;
}

.dark-btn{
    background-color: #38573a;
    color: #e5eed3;
    padding: 15px 19px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.get-image-btn{
    margin-bottom: 8px;
}

/* modal */

.modal-overlay{
    display: none; /* flex when active */
    position: fixed;
    backdrop-filter: blur(1px);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.meme-modal{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #233624;
    border-radius: 5px;
    width: 420px;
    height: 550px;
    background-color: #ecf7eb;
}

.cat-img{
    max-width: 340px;
    max-height: 420px;
    border-radius: 5px;
}

.meme-modal-close-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #233624;
    color: #233624;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}

.meme-modal-close-btn:hover{
    color: white;
    background-color: #233624;
    border: 2px solid #233624;
    cursor: pointer;
}